{% extends "email/base.html" %}
{% from "email/_macros.html" import email_button, email_heading, info_card %}
{% set email_subtitle = "Crypto payment started" %}
{% block email_body %}
{{ email_heading("Crypto payment created", booking.name ~ " started a crypto payment for " ~ booking.booking_id ~ ".") }}
{{ info_card([
  ("Session amount", amount_label),
  ("Send", pay_amount ~ " " ~ pay_currency),
  ("Wallet", pay_address),
]) }}
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top:24px;">
  <tr><td align="center">{{ email_button(admin_url, "View booking", true) }}</td></tr>
</table>
{% endblock %}
